.all-of-page {
          width: 100%;
          position: absolute;
          left: 25%;}
.basket  {
          position: relative;
          border: 2px solid black;
          border-radius: 3px;
          height: 200px;
          width: 50%;
          display: inline-flex;
          margin: 1px auto;
          background: #4A2495}
.wrapper {
          border: 2px solid black;
          border-radius: 3px;
          height: 120px;
          width: 50%;
          display: inline-flex;
          margin: 1px auto;
          background: #4A2495;}
.product {
          width: 33%;
          height: 90%;
          text-align: center;
          padding: 1px;
          margin: 2px;
          border: 2px solid white;
          border-radius: 5px;
          background: #FED13D;}
.product-in-basket {
          width: 33%;
          height: 75%;
          text-align: center;
          padding: 1px;
          margin: 2px;
          border: 2px solid white;
          border-radius: 5px;
          background: #FED13D;}
.cover img {
          max-width: 90%;
          max-height: 50%;
          object-fit: cover;}
.cover-txt {
          font-family: consolas;
          font-size : 14px;
          font-weight : bold;}
.basket-control-panel{
          display: inline-flex;
          position: absolute;
          top: 80%;
          width: 99%;
          height: 30px;
          padding: 1px;
          margin: 2px;
          border: 2px solid white;
          border-radius: 5px;
          background: #FED13D;
          font-family: consolas;
          font-size : 12px;
          font-weight : bold;}
.clear-basket{
          width: 32%;
          height: 20px;
          line-height:20px;
          text-align: center;
          padding: 1px;
          margin: 2px;
          border: 2px solid #4A2495;
          border-radius: 5px;
          background: #FED13D;
          font-family: consolas;
          font-size : 12px;
          font-weight : bold;}
.inbox-basket{
          width: 32%;
          height: 20px;
          line-height:20px;
          text-align: center;
          padding: 1px;
          margin: 2px;
          border: 2px solid #4A2495;
          border-radius: 5px;
          background: #FED13D;}
.budget-basket{
          width: 32%;
          height: 20px;
          line-height:20px;
          text-align: center;
          padding: 1px;
          margin: 2px;
          border: 2px solid #4A2495;
          border-radius: 5px;
          background: #FED13D;}

input[type='text'] {
          font-size: 12px;
          text-align: center;
          font-family: consolas;
          font-weight : bold;
          background: #FED13D;
          margin: auto;
          border: 1px solid #4A2495;
          border-radius: 5px;
        }

.del-prod{
        position: absolute;
        background: white;
        margin: 0, 0, 0, 50%;
        padding: 3px;
        width: auto;
        height: auto;
        font-family: consolas;
        font-size : 12px;
        font-weight : bold;
        border: 2px solid #4A2495;
        border-radius: 5px;
        text-align: center;

}
